* {
  margin: 0;
  padding: 0;
}

a:hover {
  color: #E2CBB7;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

/* * */

.mainPage {
  min-height: 668px;
  width: 100%;
}

.main {
  min-height: 700px;
  max-width: 1280px;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  /* overflow: hidden; */
  position: relative;
}

.listTitle {
  font-size: 19px;
  text-align: center;
  display: block;
  width: 10%;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  position: absolute;
  left: 100px;
  top: 10px; 
}

.writeBtn {
  background: #E2CBB7;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 10%;
  height: 40px;
  font-weight: bold;
  position: absolute;
  right: 100px;
  top: 10px;
}

.writeBtn:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.03),
    0px 5px 5px rgba(0, 0, 0, 0.03);
}

@media screen and (max-width: 1280px) {
  .main {
    width: 90%;
  }
  .listTitle {
    left: 45%;
  }
  .writeBtn {
    right: 25%;
  }
}

@media screen and (max-width: 876px) {
  .main {
    width: 90%;
  }
  .listTitle {
    left: 45%;
    width: 20%;
  }
  .writeBtn {
    right: 25%;
  }
}

@media screen and (max-width: 567px) {
  .listTitle {
    top: 6vh;
    left: 2vh;
    width: 20%;
  }
  .writeBtn {
    right: 25%;
    font-size: 11px;
  }
}

/* main */

footer {
  background: #ccc;
  height: 100px;
  line-height: 100px;
}

footer > p {
  margin-left: 300px;
}

/* footer */